.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.rock{
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: text;

}
.inputs{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
}
.btn{
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    color: #fff;
    background:  #2554C7;
    margin-left: 15px;
    border-radius: 5px;
    outline: none;
    width: 300px;
    height: 50px;
}
.mem{
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    color: #fff;
    background:  #488AC7;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    width: 300px;
    height: 50px;
}
/* For mobile devices */
@media only screen and (max-width: 600px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .inputs,
    .btn,
    .mem {
      width: 90%;
      max-width: 300px;
      margin: 10px 0;
      padding: 10px;
      outline: none;
      border: 1px solid #ccc;
      font-size: 18px;
      border-radius: 10px;
    }
  
    .btn,
    .mem {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
      height: 50px;
    }
  }
  