.navbar{
    min-width: 100%;
    min-height: 15vh;
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.8)),
    url("https://images.squarespace-cdn.com/content/v1/518ea9e4e4b0eb1ecff22776/1480450074024-LTJO255BUA2ODWGZDNJI/Quality+Ingredients");
    display: flex;
    color:#fff;
    background-repeat: no-repeat;
    align-items: center;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    z-index:50 ;
  
}
.nav-head{
    margin-left: 20px;
    font-size: 30px;

}
.navspan{
    color: #fff;
    
}
.nav-links{
    display: flex;
    text-decoration: none;
   
}
.nav-links ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.nav-links a{
     color: #fff;
    text-decoration: none;
    margin: 0 10px;
    border: 10px;
    font-size: 20px;
}
.nav-links a:hover{
    color: red;
}